body 
{
	background-color: #E06500;
}

.logo 
{
	font-family: impact;
	font-size: 48px;
	color: white;
}

.wrapper
{
	background-color: white;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	width: 90%;
	margin-left: 5%;
}

.menu
{
	text-align: center;
	background-color: #AB4E02;
	width: 99.7%;
	font-family: impact;
	font-size: 16pt;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.content
{
	width: 99.7%;
	font-family: calibri;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.menu a 
{
	text-decoration: none;
	color: white;
}

.footer
{
	font-family: calibri;
	font-size: 12pt;
	color: white;
}
